*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#F6F8F9;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

header{
    background-color: #ffffff;
}

main{
    width: 900px;
    height: 900px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 15px 25px;
}

#task{
    color: #ffffff;
    background-color:#14AAF5 ;
    border-radius: 5px;
    border: #14AAF5;
    padding: 10px 6px;
}

#section{
    color: #C4CBD0;
    background-color: #ffffff;
    border: 2px solid #C4CBD0;
    border-radius: 5px;
    padding: 10px 6px;
}