*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#F6F8F9;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

header{
    background-color: #ffffff;
}