/*--------------------
     General
---------------------*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#F6F8F9;
    font-family: "Roboto", sans-serif;
}


h3{
    padding-top: 20px;
    color: #434851 ;
}

li{
    list-style: none;
    padding: 7px;
}

header{
    background-color: #ffffff;
}

main{
    max-width: 900px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 25px 35px;
}
/*----------------------------
         /general
------------------------------ */

/*----------------------------
        header
------------------------------*/
.logo{
    display: inline-block;
    vertical-align: middle;
}
/*-----------------------------
        /header
-------------------------------*/

/*-----------------------------
         main
-------------------------------*/
#task{
    color: #ffffff;
    background-color:#14AAF5 ;
    border-radius: 5px;
    border: #14AAF5;
    padding: 10px 6px;
}

#section{
    color: #C4CBD0;
    background-color: #ffffff;
    border: 2px solid #C4CBD0;
    border-radius: 5px;
    padding: 10px 6px;
}

#btn{
    padding-bottom: 20px;
}

.sections{
    width: 40px;
    height: 8px;
    border-radius: 10px;
    padding: 6px 6px;
    font-size: 12px;
    color: #ffffff;
}

#purple{
    background-color: #ab5de6;
}

#green{
    background-color: #2CC6AB ;
}

#fucsia{
    background-color: #EC4A9D ;
}

#lime{
    background-color: #A3D116;
}

#orange{
    background-color: #FF9B00;
}

#editorial{
    background-color: #14AAF5;
}

#blu{
    background-color: #14AAF5;
}

#blue{
    background-color: #14AAF5;
}

.check{
        display: inline-block;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        border: 1px solid green;
        border-radius: 100%;
        color: green;
}

.cross{
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid red;
    border-radius: 100%;
    color: red;
}